.div-cards {
    text-align: center;
}

.card {
    width: 18em;
    height: 35em;
    display: inline-block;
    margin: 0.9375em;
}

.card-body {
    padding: 0.3125em;
    height: max-content;
}

.card-price {
    font-size: 1.56rem;
}

img {
    padding: 30px;
    width: 200px;
    height: 200px;
}

.card-body .d-block {
    height: 16.875rem;
}