.div-cards {
    text-align: center;
}

.card {
    max-width: 280px;
    display: inline-block;
    margin: 0.9375em;
}

.card-body {
    width: 280px;
    padding: 0.3125em;
}

.card-price {
    font-size: 1.56rem;
}

img {
    padding: 1.875rem;
    width: 12.5rem;
    height: 12.5rem;
}

.card-body .d-block {
    height: 16.875em;
}